:root {
  --primary-color: #e5810e;
  --text-color: #eee;
  --shadow-color: rgba(0, 0, 0, 0.6);
  --opacity-color: rgba(195, 178, 253, 0.2);
  --value-thumb-bg: -38px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  background-image: url(https://i.gifer.com/2iiB.gif);
  background-color: #0f0a24;
  background-attachment: fixed;
}

.btn,
.song-group,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.player {
  margin: auto;
  max-width: 480px;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

/* Dashboard */
.dashboard {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 3, 22, 0.6)), to(rgba(19, 13, 68, 0.8))),
    url('../img/background-s.jpg') center / cover;
  background: -o-linear-gradient(top, rgba(5, 3, 22, 0.6), rgba(19, 13, 68, 0.8)),
    url('../img/background-s.jpg') center / cover;
  background: linear-gradient(to bottom, rgba(5, 3, 22, 0.6), rgba(19, 13, 68, 0.8)),
    url('../img/background-s.jpg') center / cover;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  -webkit-box-shadow: 1px 1px 5px var(--shadow-color);
  box-shadow: 1px 1px 5px var(--shadow-color);
  max-width: 480px;
  padding: 24px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

/* CD */
.cd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 32px;
  position: relative;
  width: 200px;
}

.cd-thumb {
  background: #333 center / cover;
  border-radius: 50%;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.cd-thumb::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(19, 13, 68, 0.4))),
    url('../img/background-s.jpg') center / cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(19, 13, 68, 0.4)),
    url('../img/background-s.jpg') center / cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(19, 13, 68, 0.4)),
    url('../img/background-s.jpg') center / cover;
  border-radius: 50%;
  -webkit-box-shadow: var(--opacity-color) 0px 0px 0px, var(--opacity-color) 0px 0px 0px 2px;
  box-shadow: var(--opacity-color) 0px 0px 0px, var(--opacity-color) 0px 0px 0px 2px;
  content: '';
  display: block;
  height: 20%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20%;
}

.cd-bgs {
  padding-top: 100%;
  position: absolute;
  width: 100%;
  z-index: -9999;
}

.cd-bg {
  background: var(--opacity-color);
  border-radius: 50%;
  padding-top: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.top {
  -webkit-animation: fadeIn 2s linear alternate infinite;
  animation: fadeIn 2s linear alternate infinite;
  top: var(--value-thumb-bg);
  /* transform: rotate(45deg); */
  /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
}

.top::before {
  content: '';
  position: absolute;
  left: 102%;
  top: 0;
  width: 54px;
  height: 54px;
  background: var(--opacity-color);
  border-radius: 50%;
}

.top::after {
  content: '';
  position: absolute;
  right: -10%;
  top: 110%;
  width: 16px;
  height: 16px;
  background: var(--opacity-color);
  border-radius: 50%;
}

.right {
  -webkit-animation: fadeIn 2s linear alternate infinite;
  animation: fadeIn 2s linear alternate infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  right: var(--value-thumb-bg);
  /* transform: rotate(45deg); */
  /* border-radius: 67% 33% 33% 67% / 38% 55% 45% 62%; */
}

.right::before {
  content: '';
  position: absolute;
  bottom: 60%;
  right: 150%;
  width: 32px;
  height: 32px;
  background: var(--opacity-color);
  border-radius: 50%;
}

.right::after {
  content: '';
  position: absolute;
  bottom: 42%;
  left: 110%;
  width: 24px;
  height: 24px;
  background: var(--opacity-color);
  border-radius: 50%;
}

.bottom {
  -webkit-animation: fadeIn 2s linear alternate infinite;
  animation: fadeIn 2s linear alternate infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  top: calc(var(--value-thumb-bg) * -1);
  /* transform: rotate(45deg); */
  /* border-radius: 43% 57% 72% 28% / 69% 43% 57% 31%; */
  /* position: relative; */
  height: 80%;
}

.bottom::before {
  content: '';
  position: absolute;
  right: 42%;
  top: 110%;
  width: 16px;
  height: 16px;
  background: var(--opacity-color);
  border-radius: 50%;
}

.bottom::after {
  content: '';
  position: absolute;
  top: 42%;
  right: 110%;
  width: 48px;
  height: 48px;
  background: var(--opacity-color);
  border-radius: 50%;
}

.left {
  -webkit-animation: fadeIn 2s linear alternate infinite;
  animation: fadeIn 2s linear alternate infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  left: var(--value-thumb-bg);
  width: 90%;
  height: 90%;
  /* transform: rotate(45deg); */
  /* border-radius: 37% 63% 62% 38% / 69% 58% 42% 31%; */
}

.left::before {
  content: '';
  position: absolute;
  left: 100%;
  bottom: -50%;
  width: 24px;
  height: 24px;
  background: var(--opacity-color);
  border-radius: 50%;
}

.left::after {
  content: '';
  position: absolute;
  left: 42%;
  bottom: 110%;
  width: 48px;
  height: 48px;
  background: var(--opacity-color);
  border-radius: 50%;
}

.change-size::before {
  width: calc(100px - var(--scroll-top));
  height: calc(100px - var(--scroll-top));
}

.change-size::after {
  width: calc(100px - var(--scroll-top));
  height: calc(100px - var(--scroll-top));
}

/* Title */
.title-name {
  color: var(--text-color);
  margin-top: 48px;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(238, 238, 238, 0.8);
}

.title-singer {
  color: #aaa;
  font-weight: 100;
  margin-top: 16px;
  text-align: center;
}

/* Control */
.control {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 32px;
}

.control .btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#140d9dbe), to(#130d58));
  background: -o-linear-gradient(bottom, #140d9dbe, #130d58);
  background: linear-gradient(to top, #140d9dbe, #130d58);
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 5px var(--shadow-color);
  box-shadow: 1px 1px 5px var(--shadow-color);
  color: var(--text-color);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 48px;
}

.control .btn:hover,
.control .btn:active,
.control .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.6;
  -webkit-transform: translateY(-3px) scale(1.05);
  -ms-transform: translateY(-3px) scale(1.05);
  transform: translateY(-3px) scale(1.05);
}

.control .btn.active {
  background: transparent;
  color: var(--primary-color);
}

.control .btn-toggle-play {
  background: -o-linear-gradient(135deg, var(--primary-color), #faa441);
  background: linear-gradient(-45deg, var(--primary-color), #faa441);
  box-shadow: inset 3px -3px 5px #cc6003;
  font-size: 28px;
  height: 64px;
  width: 64px;
}

/* Progress */
.progress {
  -webkit-appearance: none;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(255, 255, 255)),
    color-stop(0%, var(--opacity-color))
  );
  background: -o-linear-gradient(left, rgb(255, 255, 255) 0%, var(--opacity-color) 0%);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, var(--opacity-color) 0%);
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 1px var(--shadow-color);
  box-shadow: 0px 0px 1px var(--shadow-color);
  cursor: pointer;
  height: 6px;
  margin-top: 32px;
  outline: none;
  -webkit-transition: 0.2s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
  width: 16px;
}

.progress::-webkit-slider-thumb:hover {
  -webkit-box-shadow: var(--opacity-color) 0px 1px 4px, var(--opacity-color) 0px 0px 1px 10px;
  box-shadow: var(--opacity-color) 0px 1px 4px, var(--opacity-color) 0px 0px 1px 10px;
}

/* Playlist */
.playlist {
  margin-top: 528px;
  padding: 24px;
  position: relative;
}

.playlist::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 24px;
  left: 32px;
  width: 100%;
  max-width: 300px;
  height: 500px;
  display: block;
  background: url('../img/tree.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.playlist::after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 32px;
  bottom: 32px;
  width: 100%;
  max-width: 300px;
  height: 500px;
  display: block;
  background: url('../img/tree.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* Song */

.song-group {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.song {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--opacity-color);
  border-radius: 16px;
  -webkit-box-shadow: 1px 1px 5px var(--shadow-color);
  box-shadow: 1px 1px 5px var(--shadow-color);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  padding: 8px 16px;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  transition: 0.75s;
}

.song.active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 3, 22, 0.6)), to(rgba(19, 13, 68, 0.8))),
    url('../img/background-s.jpg') center / cover;
  background: -o-linear-gradient(top, rgba(5, 3, 22, 0.6), rgba(19, 13, 68, 0.8)),
    url('../img/background-s.jpg') center / cover;
  background: linear-gradient(to bottom, rgba(5, 3, 22, 0.6), rgba(19, 13, 68, 0.8)),
    url('../img/background-s.jpg') center / cover;
  -webkit-box-shadow: 0 1px 3px var(--opacity-color);
  box-shadow: 0 1px 3px var(--opacity-color);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.song:active {
  opacity: 0.6;
}

.song.active .song-title {
  color: var(--primary-color);
}

.song .thumb {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px var(--shadow-color);
  box-shadow: 0 1px 3px var(--shadow-color);
  height: 44px;
  margin: 0 8px;
  width: 44px;
}

.song.active .thumb {
  -webkit-box-shadow: 0 1px 3px var(--opacity-color);
  box-shadow: 0 1px 3px var(--opacity-color);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.song .body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 16px;
}

.song .song-title,
.song .song-author {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.song .song-title {
  color: var(--text-color);
  font-size: 18px;
}

.song .song-author {
  color: #999;
  font-size: 12px;
  margin-top: 4px;
}

.song .option {
  color: #999;
  font-size: 18px;
  padding: 16px 8px;
}

.song.active .option {
  position: relative;
}

.song.active .option::after {
  -webkit-animation: ring 1.5s infinite;
  animation: ring 1.5s infinite;
  border: 1px solid var(--text-color);
  border-radius: 100%;
  content: '';
  height: 0px;
  left: 54%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0px;
  z-index: -1;
}

.song.active .option.active::after {
  -webkit-animation: ring 1.5s infinite;
  animation: ring 1.5s infinite;
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  content: '';
  height: 0px;
  left: 54%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0px;
  z-index: -1;
}

.song.active .option,
.song.active .song-author {
  color: var(--text-color);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.song .option.active {
  color: var(--primary-color) !important;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.song .option.active:hover,
.song.active .option:hover {
  opacity: 0.4;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

/* Lyrics */
.lyrics {
  -webkit-animation: fadeIn 0.5s linear;
  animation: fadeIn 0.5s linear;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(19, 13, 88, 0.4);
  border-radius: 35px;
  -webkit-box-shadow: 0 1px 3px var(--shadow-color);
  box-shadow: 0 1px 3px var(--shadow-color);
  height: 100%;
  top: -100%;
  left: 50%;
  max-height: 530px;
  max-width: 480px;
  overflow: hidden;
  visibility: hidden;
  padding: 16px;
  position: fixed;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.75s;
  width: 100%;
  z-index: 9999;
}

.lyrics.active {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.lyrics .lyrics-title {
  color: var(--primary-color);
  padding-top: 16px;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.lyrics .lyrics-name {
  color: var(--text-color);
  font-size: 28px;
  line-height: 28px;
  overflow: hidden;
  padding: 16px 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lyrics .lyrics-text {
  -webkit-animation: growth 0.7s linear;
  animation: growth 0.7s linear;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 35px;
  border-top: 2px solid var(--primary-color);
  height: 68%;
  overflow-y: scroll;
  padding: 8px 16px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  /* transition: 0.5s; */
  width: 100%;
}

.lyrics .lyrics-text p {
  color: var(--text-color);
  font-size: 22px;
  line-height: 1.6;
}

.lyrics .lyrics-close {
  background: var(--primary-color);
  border: none;
  border-radius: 35px;
  -webkit-box-shadow: 0 1px 3px var(--shadow-color);
  box-shadow: 0 1px 3px var(--shadow-color);
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  margin-top: 16px;
  padding: 12px 54px;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.lyrics .lyrics-close:hover,
.lyrics .lyrics-close:active {
  opacity: 0.6;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.lyrics .lyrics-screen {
  background: transparent;
  border: none;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  font-size: 22px;
  height: 56px;
  margin-top: 12px;
  padding: 16px;
  position: absolute;
  right: 48px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 56px;
}

.lyrics-screen .icon-out-fullscreen {
  display: none;
}

.lyrics-screen.active {
  color: var(--primary-color);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.lyrics-screen:hover,
.lyrics-screen:active,
.lyrics-screen.active:hover,
.lyrics-screen.active:active {
  opacity: 0.6;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.lyrics-screen.active .icon-fullscreen {
  display: none;
}

.lyrics-screen.active .icon-out-fullscreen {
  display: block;
}

.fullscreen {
  max-height: 100%;
}

.fullscreen .lyrics-text {
  height: 78%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes growth {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes growth {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes ring {
  0% {
    height: 0px;
    opacity: 1;
    width: 0px;
  }

  100% {
    height: 50px;
    opacity: 0;
    width: 50px;
  }
}

@keyframes ring {
  0% {
    height: 0px;
    opacity: 1;
    width: 0px;
  }

  100% {
    height: 50px;
    opacity: 0;
    width: 50px;
  }
}

/* Mobiphone */
@media (max-width: 739px) {
  .btn:hover,
  .song.active .option:hover,
  .option.active:hover,
  .control .btn:active,
  .lyrics .lyrics-close:hover,
  .control .btn:hover,
  .control .btn:active,
  .control .btn.active .lyrics-screen:hover,
  .control .btn:hover,
  .control .btn:active,
  .control .btn.active .lyrics-screen:active,
  .lyrics-screen.active:hover,
  .lyrics-screen.active:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  .lyrics .lyrics-text p {
    font-size: 18px;
  }

  .lyrics .lyrics-close {
    margin-top: 8px;
  }

  .lyrics .lyrics-screen {
    margin-top: 2px;
  }
}

.visualizer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1;
  opacity: 0.8;
}

.visualizer {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(56, 42, 95, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 118, 156, 0.6);
}
