:root {
  --primary-color: #e5810e;
  --text-color: #eee;
  --shadow-color: rgba(0, 0, 0, 0.6);
  --opacity-color: rgba(195, 178, 253, 0.2);
  --value-thumb-bg: -38px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  background-image: url(https://i.gifer.com/2iiB.gif);
  background-color: #0f0a24;
  background-attachment: fixed;
}

.btn,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.player {
  margin: auto;
  max-width: 480px;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

/* Dashboard */
.dashboard {
  background: linear-gradient(to bottom, rgba(5, 3, 22, 0.6), rgba(19, 13, 68, 0.8)), url("../img/background.jpg") center / cover;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 1px 1px 5px var(--shadow-color);
  max-width: 480px;
  padding: 24px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  padding-top: 32px;
  position: relative;
  width: 200px;
}

.cd-thumb {
  background: #333 center / cover;
  border-radius: 50%;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.cd-thumb::after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(19, 13, 68, 0.4)), url("../img/background.jpg") center / cover;
  border-radius: 50%;
  box-shadow: var(--opacity-color) 0px 0px 0px, var(--opacity-color) 0px 0px 0px 2px;
  content: "";
  display: block;
  height: 20%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.cd-bgs {
  padding-top: 100%;
  position: absolute;
  width: 100%;
  z-index: -9999;
}

.cd-bg {
  background: var(--opacity-color);
  border-radius: 50%;
  padding-top: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.top {
  animation: fadeIn 2s linear alternate infinite;
  top: var(--value-thumb-bg);
}

.right {
  animation: fadeIn 2s linear alternate infinite;
  animation-delay: 2s;
  right: var(--value-thumb-bg);
}

.bottom {
  animation: fadeIn 2s linear alternate infinite;
  animation-delay: 1s;
  top: calc(var(--value-thumb-bg) * -1);
}

.left {
  animation: fadeIn 2s linear alternate infinite;
  animation-delay: 3s;
  left: var(--value-thumb-bg);
}

/* Title */
.title-name {
  color: var(--text-color);
  margin-top: 48px;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(238, 238, 238, 0.8);
}

.title-singer {
  color: #aaa;
  font-weight: 100;
  margin-top: 16px;
  text-align: center;
}

/* Control */
.control {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}

.control .btn {
  align-items: center;
  background: linear-gradient(to top, #140d9dbe, #130d58);
  border-radius: 50%;
  box-shadow: 1px 1px 5px var(--shadow-color);
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  transition: all 0.5s linear;
  width: 48px;
}

.control .btn:hover,
.control .btn:active,
.control .btn.active {
  box-shadow: none;
  opacity: 0.6;
  transform: translateY(-3px) scale(1.05);
}

.control .btn.active {
  background: transparent;
  color: var(--primary-color);
}

.control .btn-toggle-play {
  background: linear-gradient(-45deg, var(--primary-color), #faa441);
  border-bottom: 3px solid #cc6003;
  border-left: 3px solid #cc6003;
  font-size: 28px;
  height: 64px;
  width: 64px;
}

/* Progress */
.progress {
  -webkit-appearance: none;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, var(--opacity-color) 0%);
  border-radius: 25px;
  box-shadow: 0px 0px 1px var(--shadow-color);
  cursor: pointer;
  height: 6px;
  margin-top: 32px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: all 0.5s linear;
  width: 100%;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  transition: box-shadow 0.3s linear;
  width: 16px;
}

.progress::-webkit-slider-thumb:hover {
  box-shadow: var(--opacity-color) 0px 1px 4px, var(--opacity-color) 0px 0px 1px 10px;
}

/* Playlist */
.playlist {
  margin-top: 528px;
  padding: 24px;
  position: relative;
}

.playlist::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 24px;
  left: 32px;
  width: 100%;
  max-width: 300px;
  height: 500px;
  display: block;
  background: url("../img/tree.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
}

.playlist::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 32px;
  bottom: 32px;
  width: 100%;
  max-width: 300px;
  height: 500px;
  display: block;
  background: url("../img/tree.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Song */
.song {
  align-items: center;
  background-color: var(--opacity-color);
  border-radius: 25px;
  box-shadow: 1px 1px 5px var(--shadow-color);
  cursor: pointer;
  display: flex;
  margin-bottom: 12px;
  padding: 8px 16px;
  transition: all 0.5s linear;
}

.song.active {
  background: linear-gradient(to bottom, rgba(5, 3, 22, 0.6), rgba(19, 13, 68, 0.8)), url("../img/background.jpg") center / cover;
  box-shadow: 0 1px 3px var(--opacity-color);
  transform: translateY(-2px);
}

.song:active {
  opacity: 0.6;
}

.song.active .song-title {
  color: var(--primary-color);
}

.song .thumb {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px var(--shadow-color);
  height: 44px;
  margin: 0 8px;
  width: 44px;
}

.song.active .thumb {
  box-shadow: 0 1px 3px var(--opacity-color);
  transform: scale(1.1);
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .song-title,
.song .song-author {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.song .song-title {
  color: var(--text-color);
  font-size: 18px;
}

.song .song-author {
  color: #999;
  font-size: 12px;
  margin-top: 4px;
}

.song .option {
  color: #999;
  font-size: 18px;
  padding: 16px 8px;
}

.song.active .option {
  position: relative;
}

.song.active .option::after {
  animation: ring 1.5s infinite;
  border: 1px solid var(--text-color);
  border-radius: 100%;
  content: '';
  height: 0px;
  left: 54%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  z-index: -1;
}

.song.active .option.active::after {
  animation: ring 1.5s infinite;
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  content: '';
  height: 0px;
  left: 54%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  z-index: -1;
}

.song.active .option,
.song.active .song-author {
  color: var(--text-color);
  transition: all 0.5s linear;
}

.song .option.active {
  color: var(--primary-color) !important;
  transform: scale(1.1);
  transition: all 0.5s linear;
}

.song .option.active:hover,
.song.active .option:hover {
  opacity: 0.4;
  transform: translateY(3px);
}

/* Lyrics */
.lyrics {
  animation: fadeIn 0.5s linear;
  backdrop-filter: blur(10px);
  background: rgba(19, 13, 88, 0.4);
  border-radius: 35px;
  box-shadow: 0 1px 3px var(--shadow-color);
  display: none;
  height: 100%;
  left: 50%;
  max-height: 530px;
  max-width: 480px;
  overflow: hidden;
  padding: 16px;
  position: fixed;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  transition: all 0.5s linear;
  width: 100%;
  z-index: 9999;
}

.lyrics.active {
  animation: fadeIn 0.5s linear;
  display: block;
}

.lyrics .lyrics-title {
  color: var(--primary-color);
  padding-top: 16px;
  text-shadow: 1px 1px 3px var(--primary-color);
}

.lyrics .lyrics-name {
  color: var(--text-color);
  font-size: 28px;
  line-height: 28px;
  overflow: hidden;
  padding: 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lyrics .lyrics-text {
  animation: growth 0.7s linear;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 35px;
  border-top: 2px solid var(--primary-color);
  height: 68%;
  overflow-y: scroll;
  padding: 8px 16px;
  transition: all 0.5s linear;
  width: 100%;
}

.lyrics .lyrics-text p {
  color: var(--text-color);
  font-size: 22px;
  line-height: 1.6;
}

.lyrics .lyrics-close {
  background: var(--primary-color);
  border: none;
  border-radius: 35px;
  box-shadow: 0 1px 3px var(--shadow-color);
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  margin-top: 16px;
  padding: 12px 54px;
  position: relative;
  transition: all 0.5s linear;
}

.lyrics .lyrics-close:hover,
.lyrics .lyrics-close:active {
  opacity: 0.6;
  transform: translateY(3px);
}

.lyrics .lyrics-screen {
  background: transparent;
  border: none;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  font-size: 22px;
  height: 56px;
  margin-top: 12px;
  padding: 16px;
  position: absolute;
  right: 48px;
  transition: all 0.5s linear;
  width: 56px;
}

.lyrics-screen .icon-out-fullscreen {
  display: none;
}

.lyrics-screen.active {
  color: var(--primary-color);
  transition: all 0.5s linear;
}

.lyrics-screen:hover,
.lyrics-screen:active,
.lyrics-screen.active:hover,
.lyrics-screen.active:active {
  opacity: 0.6;
  transform: translateY(3px);
}

.lyrics-screen.active .icon-fullscreen {
  display: none;
}

.lyrics-screen.active .icon-out-fullscreen {
  display: block;
}

.fullscreen {
  max-height: 100%;
}

.fullscreen .lyrics-text {
  height: 78%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ring {
  0% {
    height: 0px;
    opacity: 1;
    width: 0px;
  }

  100% {
    height: 50px;
    opacity: 0;
    width: 50px;
  }
}

/* Mobiphone */
@media (max-width: 739px) {

  .btn:hover,
  .song.active .option:hover,
  .option.active:hover,
  .lyrics .lyrics-close:hover,
  .lyrics-screen:hover,
  .lyrics-screen:active,
  .lyrics-screen.active:hover,
  .lyrics-screen.active:active {
    box-shadow: none;
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .lyrics .lyrics-text p {
    font-size: 18px;
  }

  .lyrics .lyrics-close {
    margin-top: 8px;
  }

  .lyrics .lyrics-screen {
    margin-top: 2px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(56, 42, 95, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 118, 156, 0.6);
}